---
layout: post-wrapper.11ty.js
---

<div class="flex justify-center">
  <a href="/" class="">
    <img
      src="/assets/media/sp-dp.jpg"
      alt="Snehanshu - Click to goto homepage"
      class="mb-4 h-24 w-24 rotate-12 rounded-full border-black transition-all hover:rotate-0 hover:border-4"
    />
  </a>
</div>

<h1 class="my-8 mb-4 text-center text-4xl font-bold">{{ title }}</h1>

<div class="mb-4 text-center text-lg">
  {% if date %}
  <span>{{ date | date: "%a, %e %B %Y" }}</span>
  {% endif %}
</div>

{% if img %}
<div>
  <div class="flex max-h-80 justify-center overflow-hidden">
    <img
      src="/assets/media/post-media/{{ img }}"
      alt="Your Image"
      class="object-contain"
    />
  </div>

  {% if caption %}
  <p class="text-center">{{ caption }}</p>
  {% endif %}
</div>
{% endif %}

<div class="mb-4 mt-8 flex justify-center">
  <article
    class="prose prose-lg max-w-full hover:prose-a:text-blue-600 md:max-w-prose"
  >
    {{ content }}
  </article>
</div>
