---
layout: layout.html
---

<div class="flex justify-center">
  <a href="/" class="">
    <img
      src="/assets/media/sp-dp.jpg"
      alt="Snehanshu - Click to goto homepage"
      class="mb-4 h-24 w-24 rotate-12 rounded-full border-black transition-all hover:rotate-0 hover:border-4"
    />
  </a>
</div>


<h1 class="my-8 mb-4 text-center text-4xl">{{ title }}</h1>

<div class="mb-4 text-center text-lg">
  {% if date %}
  <span>{{ date | date: "%a, %e %B %Y" }}</span>
  {% endif %}
</div>

{% if img %}
<div class="flex justify-center">
  <figure class="relative overflow-hidden rounded-md">
    <img
      class="object-cover"
      src="/assets/media/post-media/{{ img }}"
      alt="{{ img }}"
    />

    {% if caption %}
    <figcaption
      class="absolute right-0 top-0 bg-gray-900 bg-opacity-60 p-1 px-2 text-white"
    >
      {{ caption }}
    </figcaption>
    {% endif %}
  </figure>
</div>
{% endif %}

<div class="mb-4 mt-8 flex justify-center">
  <article class="prose prose-lg hover:prose-a:text-blue-600">
    {{ content }}
  </article>
</div>

<div class="flex justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow-lg">
    <span class="text-6xl font-bold text-gray-900">The End</h1>
  </div>
</div>
